<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Learn Git Branching</title>
  <meta name="author" content="Peter Cottle">

  <meta property="og:title" content="Learn Git Branching"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://pcottle.github.io/learnGitBranching/index.html?demo"/>
  <meta property="og:image" content="https://pcottle.github.io/learnGitBranching/assets/learnGitBranching.png"/>
  <meta property="og:description" content="An interactive Git visualization tool to educate and challenge!"/>
  <meta http-equiv="content-language" content="en">

  <link rel="stylesheet" href="build/main-4fd860bb.css" type="text/css" charset="utf-8">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">


  <!-- Templates from here on out... -->
  <script type="text/html" id="modal-view-template">
    <div class="contentHolder box vertical center flex1">
    </div>
  </script>

  <script type="text/html" id="terminal-window-bare-template">
    <div class="terminal-window-holder box flex10 vertical transitionTransform slideOut">
      <div class="wrapper box vertical">
        <div class="toolbar box vertical center">
          <div class="controls box horizontal justify">
            <div class="box flex1">
              <div class="close">
              </div>
            </div>
            <div class="box flex1">
              <div class="minimize">
              </div>
            </div>
            <div class="box flex1">
              <div class="plus">
              </div>
            </div>
          </div>
          <div>
            <i class="icon-cog"></i>
            <%= title %>
          </div>
        </div>
        <div class="terminal-text">
          <p class="helperText">
            <%= text %>
          </p>
        </div>
        <div class="inside box flex1">
        </div>
      </div>
    </div>
  </script>

  <script type="text/html" id="terminal-window-template">
    <div class="terminal-window box horizontal flex3 transitionAll">
    <div class="box flex3">
    </div>
    <div class="terminal-window-holder box flex10 vertical transitionTransform">
      <div class="wrapper box vertical">
        <div class="toolbar box vertical center">
          <div class="controls box horizontal justify">
            <div class="box flex1">
              <div class="close">
              </div>
            </div>
            <div class="box flex1">
              <div class="minimize">
              </div>
            </div>
            <div class="box flex1">
              <div class="plus">
              </div>
            </div>
          </div>
          <% if (title) { %>
            <div>
              <i class="icon-cog"></i>
              <span class="modal-title">
                <%= title %>
              </span>
            </div>
          <% } %>
        </div>

        <div class="inside">
        </div>
      </div>
    </div>

      <div class="box flex2">
      </div>
    </div>
  </script>

  <script type="text/html" id="level-dropdown-view">
    <div class="box horizontal center levelDropdownTabWrapper">
      <% for (var i = 0; i < tabs.length; i++) { %>
        <% if (tabs[i].id === selectedTab) { %>
          <div class="levelDropdownTab" data-id="<%=tabs[i].id%>">
        <% } else { %>
          <div class="levelDropdownTab deselected" data-id="<%=tabs[i].id%>">
        <% } %>
          <span data-id="<%=tabs[i].id%>">
            <%= tabs[i].name %>
          </span>
        </div>
      <% } %>
    </div>
  </script>

  <script type="text/html" id="series-view">
    <div class="displayName">
      <h3> <%= displayName %> </h3>
    </div>
    <p class="about">
      <%= about %>
    </p>
    <p class="levelInfo">
      <%= levelInfo %>
    </p>
    <div class="iconHolder box horizontal">
      <% for (var i = 0; i < ids.length; i++) { %>
        <a href="javascript:void(0)" class="levelIcon box center centerAlign vertical" id="levelIcon-<%=ids[i]%>" data-id="<%=ids[i]%>">
          <div class="index box" data-id="<%=ids[i]%>">
            <i class="icon-ok-circle" data-id="<%=ids[i]%>"></i>
            <div class="indexNum" data-id="<%=ids[i]%>">
              <%= i + 1 %>
            </div>
          </div>
        </a>
      <% } %>
    </div>
  </script>

  <script type="text/html" id="git-demonstration-view">
    <div class="demonstrationText box vertical">
      <div class="beforeText">
        <p>
          <%= beforeHTML %>
        </p>
      </div>

      <div class="command center">
        <p class="uiButton uiButtonYellow transitionOpacity">
        <!--
          we strip aboveAll since its just an
          implementation detail for the UI and confusing
        -->
          <%= command.replace(' --aboveAll', '') %>
        </p>
        <p class="uiButton uiButtonPink transitionOpacity" target="reset">
            (Reset Animation)
        </p>
      </div>

      <div class="afterText transitionOpacity">
        <p>
          <%= afterHTML %>
        </p>
      </div>
    </div>

    <div class="visHolder box vertical flex1">
      <div class="visHolderInside box flex1">
      </div>
    </div>
  </script>

  <script type="text/html" id="general-button">
      <%= buttonText %>
  </script>

  <script type="text/html" id="demonstration-builder">
    <div class="insideBuilder box vertical">
    </div>
    <div class="buttons box horizontal center">
      <div class="uiButton testButton">
        Test View
      </div>
    </div>
  </script>

  <script type="text/html" id="multi-view-builder">
    <div class="viewSoFar box vertical">
      <% if (!views.length) { %>
        <h3> You have no views specified yet! Add some with the buttons below </h3>
      <% } %>
      <% for (var i = 0; i < views.length; i++) { %>
        <div class="view box horizontal centerAlign justify">
          <div class="box horizontal">
            <div class="info">
              View
              #<%= i + 1 %>: <%= views[i].type %>
            </div>
          </div>
          <div class="singleViewButtons box horizontal">
            <button class="noStyle uiButton uiButtonRed box deleteButton" data-index="<%=i%>">
              Delete
            </button>
            <button class="noStyle uiButton uiButtonWhite box editButton" data-index="<%=i%>" data-type="<%= views[i].type %>">
              Edit
            </button>
            <button class="noStyle uiButton box testButton" data-index="<%=i%>">
              Test
            </button>
          </div>
        </div>
      <% } %>
    </div>
    <div class="buttons box horizontal center">
      <% for (var i = 0; i < supportedViews.length; i++) { %>
        <button class="noStyle uiButton addView uiButtonYellow" data-type="<%=supportedViews[i]%>">
        Add <%=supportedViews[i]%> View
        </button>
      <% } %>
    </div>
    <div class="controlsForView box horizontal center">
        <button class="noStyle uiButton uiButtonRed cancelView">
          Cancel
        </button>
        <% if (views.length) { %>
          <button class="noStyle uiButton uiButtonWhite testEntireView">
            Test Entire View
          </button>
          <button class="noStyle uiButton saveView">
            Save Entire View
          </button>
        <% } %>
   </div>
  </script>

  <script type="text/html" id="text-grabber">
    <p class="helperText">
      <%= helperText %>
    </p>
    <textarea></textarea>
  </script>

  <script type="text/html" id="markdown-presenter">
      <p class="helperText textAlignCenter">
        <%= previewText %>
      </p>
        <textarea><%= fillerText %></textarea>
  </script>

  <script type="text/html" id="markdown-grabber-view">
    <div class="inputSide box vertical">
      <div class="markdownGrabberInput">
        <textarea><%= fillerText %></textarea>
      </div>
    </div>

    <div class="box vertical flex1">
      <p class="helperText textAlignCenter">
        <%= previewText %>
      </p>

      <div class="markdownGrabberPreview box flex1 vertical">
        <div class="insidePreview">
        </div>
      </div>
    </div>
  </script>


  <script type="text/html" id="modal-alert-template">
    <h2>
      <%= title %>
    </h2>
    <p>
      <%= text %>
    </p>
  </script>

  <script type="text/html" id="interactive-rebase-template">
    <div class="iRebaseDialog wrapper transitionAllSlow">
      <p>
        Rebasing <%= num %> Commits
      </p>
      <% if (solutionOrder && solutionOrder.length) { %>
        <p class="solutionText">
          For the solution, order the commits as
            <%= solutionOrder.join(', ') %>. You may need to omit or pick commits.
        </p>
      <% } %>
      <p class="helperText">
        (Drag and drop to re-order. Toggle the "Omit/Pick" button to omit or re-add a commit)
      </p>
      <div class="entryHolders">
        <ul class="rebaseEntries">

        </ul>
      </div>

      <div class="confirmCancel">
      </div>
    </div>
  </script>

  <script type="text/html" id="left-right-template">
    <% if (!showLeft && lastNav ) { %>
      <div class="box right">
        <button class="noStyle"><i aria-hidden="true" class="icon-ok exit"></i><span class="visuallyHidden">OK</span></button>
      </div>
    <% } else { %>
      <% if (showLeft) { %>
        <div class="box left">
          <button class="noStyle"><i aria-hidden="true" class="icon-circle-arrow-left"></i><span class="visuallyHidden">Previous</span></button>
      <% } else { %>
        <div class="box exit">
          <button class="noStyle"><i aria-hidden="true" class="icon-signout"></i><span class="visuallyHidden">Close</span></button>
      <% } %>
      </div>
      <div class="box right">
        <% if (!lastNav) { %>
          <button class="noStyle"><i aria-hidden="true" class="icon-circle-arrow-right"></i><span class="visuallyHidden">Next</span></button>
        <% } else { %>
          <button class="noStyle"><i aria-hidden="true"  class="icon-ok"></i><span class="visuallyHidden">OK</span></button>
        <% } %>
      </div>
    <% } %>
  </script>

  <script type="text/html" id="confirm-cancel-template">
    <% if (disableCancelButton) { %>
      <span></span>
    <% } else { %>
      <button class="noStyle box cancelButton uiButton uiButtonRed">
        <%= cancel %>
      </button>
    <% } %>
    <button class="noStyle box confirmButton uiButton uiButtonYellow">
      <%= confirm %>
    </button>
  </script>

  <script type="text/html" id="interactive-rebase-entry-template">
    <li id="<%= id %>" class="rebaseEntry transitionOpacity">
      <div class="wrapper">
        <i class="icon-align-justify"></i>
        <span class="idwrapper">
          <%= id %>
        </span>
        <button id="toggleButton" class="noStyle uiButton uiButtonPink">
          <span class="showWhenPicked">
            Omit
          </span>
          <span class="showWhenNotPicked">
            Pick
          </span>
        </button>
      </div>
    </li>
  </script>

  <!-- The compiled and minified build file (that actually does everything) is below.
       For a much easier time perusing the source, see the individual files at:
          https://github.com/pcottle/learnGitBranching
  -->
  <script defer src="build/bundle-e7e01ad1.js"></script>
</head>
<body>
  <!-- lol noscript. I did not write 9k+ lines of JS just for you to bounce off my website -->
  <noscript>
    <div style="z-index:1000000;background:red;color:white;position:absolute;top:0;left:0;height:300px;width:300px;">
      This application simulates a git repository in your browser, so you will need
      JS to use the app. Try enabling and refreshing the page -- Thanks!
    </div>
  </noscript>

  <!-- The entire interface is within this div -->
  <div id="interfaceWrapper" class="box horizontal flex1">
    <div id="controls" class="box vertical flex1 visBackgroundColor">
      <div id="commandLineHistory" class="box vertical flex3">
          <div class="toolbar box vertical center">
            <div class="controls box horizontal justify">
              <div class="box flex1">
                <div class="close">
                </div>
              </div>
              <div class="box flex1">
                <div class="minimize">
                </div>
              </div>
              <div class="box flex1">
                <div class="plus">
                </div>
              </div>
            </div>
            <div>
              <label for="commandTextField">
                <i aria-hidden="true" class="icon-home"></i>
                <span class="visuallyHidden">Terminal &ndash;</span>
                <span class="vcs-mode-aware intl-aware" data-intl="learn-git-branching">
                  Learn Git Branching
                </span>
              </label>
            </div>
          </div>
          <div id="levelToolbarMount">
          </div>

        <div id="terminal" class="box flex1 horizontal startAlign">
          <div id="commandDisplay" class="box vertical flex1">
          </div>
        </div>

        <div id="commandLineBar" class="box vertical flex0">
          <div id="prompt" class="">
            <span class="promptSign box">$</span>
            <span class="cursor box">&nbsp;</span>
            <p class="command"></p>
            <div id="shadow"></div>
          </div>
          <textarea
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            id="commandTextField"></textarea>
        </div>

      </div>
    </div>

    <div id="mainVisSpace" class="box flex2 horizontal transitionAll visBackgroundColor">
      <span class="modeText transitionOpacity gitMode">
        Git
      </span>
      <span class="modeText transitionOpacity hgMode">
        Hg
      </span>
    </div>

    <!-- If you drag the goal window to the right side of the screen, this gets shown and causes
         the main visualization to squeeze a bit. This way, you could have the goal window hang out
         on the right side of the screen and still see the repo visualization. -->
    <div id="goalPlaceholder" class="box flex1 visBackgroundColor" style="display: none;"></div>

  </div>

  <div id="canvasHolder">
  </div>

  <div id="reactMount">
  </div>

  <div id="helperBarMount">
  </div>

<a target="_blank" rel="noreferrer noopener" href="https://github.com/pcottle/learnGitBranching" class="github-corner" aria-label="View source on GitHub">
  <svg viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0; height: 7vmin;" aria-hidden="true">
    <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
    <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
    <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
  </svg>
</a>
<style>
  .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
</style>


  <!-- The advantage of github pages: super-easy, simple, slick static hostic.
       The downside? No raw logs to parse for analytics, so I have to include
       Google analytics :-/ -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37500646-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
